networks:
  my-internal-net:
    driver: bridge

volumes:
  postgres_data:
  mysql_data:
  mongodb_data:

services:
  # --- THÊM KAFKA ---
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka-server
    networks:
      - my-internal-net
    ports:
      - "9094:9094"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093

      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1  # Số lượng broker mặc định là 3 thì mới nhận message
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0 # Thời gian chờ khi có consumer mới thêm. Mặc định là 3000ms
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

  # --- THÊM POSTGRESQL ---
  db:
    image: postgres:15-alpine
    container_name: postgres-db
    networks:
      - my-internal-net
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456 # Thay đổi mật khẩu ở đây
      # POSTGRES_DB: postgreSQL # Tên database khởi tạo
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql # Thêm dòng này

  # --- THÊM PGADMIN ---
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-client
    networks:
      - my-internal-net
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com # Email để login pgAdmin
      PGADMIN_DEFAULT_PASSWORD: root         # Password để login pgAdmin
    depends_on:
      - db
  # ---------------- MYSQL ----------------
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    networks:
      - my-internal-net
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    volumes:
      - mysql_data:/var/lib/mysql

  # ---------------- MONGODB ----------------
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: always
    networks:
      - my-internal-net
    ports:
      - "27017:27017"
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: root
    #   MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongodb_data:/data/db