server:
  port: 8000
app:
  api-prefix: /api/v1
service:
  identity:
    url: http://localhost:8080
  product:
    url: http://localhost:8081
  inventory:
    url: http://localhost:8083
  notification:
    url: http://localhost:8086
  resource:
    url: http://localhost:8087
spring:
  application:
    name: api-gateway
  http:
    codecs:
      max-in-memory-size: 1GB
  cloud:
    gateway:
      server:
        webflux:
          routes:
          # Identity service
          - id: identity-service
            uri: ${service.identity.url}
            predicates:
            - Path=${app.api-prefix}/identity/**
            filters:
              - StripPrefix=2
          # Resource service
          - id: resource-service
            uri: ${service.resource.url}
            predicates:
            - Path=${app.api-prefix}/resource/**
            filters:
              - StripPrefix=2
          # Notification service
          - id: notification-service
            uri: ${service.notification.url}
            predicates:
            - Path=${app.api-prefix}/notification/**
            filters:
              - StripPrefix=2
          # Product service
          - id: product-service
            uri: ${service.product.url}
            predicates:
            - Path=${app.api-prefix}/product/**
            filters:
              - StripPrefix=2
          # Inventory service
          - id: inventory-service
            uri: ${service.inventory.url}
            predicates:
            - Path=${app.api-prefix}/inventory/**
            filters:
              - StripPrefix=2
jwt:
  base64-secret: cjfj7FWvhyO66IPFwEtdlx2uQYVvBGL7NL6quv81W8v4cITO893aTdYld+FipAkHDZ4RxnaLN3bXkNskACbWFA==
  access-token-in-seconds: 86400
  refresh-token-in-seconds: 2592000