version: '3.2'
networks:
  my-internal-net:
    driver: bridge

volumes:
#   postgres_data:
#   mysql_data:
  mongodb_data:

services:
  # --- THÊM KAFKA ---
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    networks:
      - my-internal-net
    ports:
      - "9094:9094"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093

      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1  # Số lượng broker mặc định là 3 thì mới nhận message
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0 # Thời gian chờ khi có consumer mới thêm. Mặc định là 3000ms
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      KAFKA_NUM_NETWORK_THREADS: 6
      KAFKA_NUM_IO_THREADS: 12
      KAFKA_LOG_RETENTION_MS: 604800000
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'

      # --- HEAP MEMORY ---
      KAFKA_HEAP_OPTS: "-Xmx512M -Xms256M"
    volumes:
      - ./data/apache/kafka:/var/lib/kafka/data
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list"]
      interval: 10s
      timeout: 10s
      retries: 5
  # --- THÊM POSTGRESQL ---
  postgres-db:
    image: postgres:15-alpine
    container_name: postgres-db
    networks:
      - my-internal-net
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456 # Thay đổi mật khẩu ở đây
      POSTGRES_DB: e_product_service # DB chính
      POSTGRES_MULTIPLE_DATABASES: e_order_service,e_inventory_service,e_payment_service,e_shipping_service
    volumes:
      - ./data/db_data_postgres:/var/lib/postgresql/data
      - ./postgresql/init:/docker-entrypoint-initdb.d/

  # --- THÊM PGADMIN ---
  pgadmin-client:
    image: dpage/pgadmin4
    container_name: pgadmin-client
    networks:
      - my-internal-net
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com # Email để login pgAdmin
      PGADMIN_DEFAULT_PASSWORD: root         # Password để login pgAdmin
    depends_on:
      - postgres-db
  # ---------------- MYSQL ----------------
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    networks:
      - my-internal-net
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    volumes:
      # - mysql_data:/var/lib/mysql
      - ./data/db_data_mysql:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d/
    command: [
      '--character-set-server=utf8mb4',
      '--collation-server=utf8mb4_unicode_ci',
      '--skip-character-set-client-handshake'  # Buộc tất cả kết nối sử dụng utf8mb4
    ]

  # ---------------- MONGODB ----------------
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: always
    networks:
      - my-internal-net
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongodb_data:/data/db

  # ---------------- KAFKA UI ----------------
  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8888:8080"  # Map Kafka UI to port 8888 on the host
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      KAFKA_CLUSTERS_0_NAME: env-microservice_fashion      # Cluster name
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092  # Cluster bootstrap servers
      DYNAMIC_CONFIG_ENABLED: 'true'
    networks:
      - my-internal-net

  #Redis
  redis:
    container_name: redis
    image: redis:latest
    ports:
      - "6319:6379"
    networks:
      - my-internal-net