server:
  port: 8086
  servlet:
    context-path: /notification

spring:
  application:
    name: notification-service
    language-default: en
  mongodb:
    uri: mongodb://root:root@localhost:27017/notification-service?authSource=admin
  kafka:
    bootstrap-servers: localhost:9094

    # config consumer
    consumer:
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer #key
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer #value
      # key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      # value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        # delegate deserializer thực sự
        # spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        # spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer

        # vì producer tắt type header
        # spring.json.use.type.headers: true

        # default type để deserialize
        # spring.json.value.default.type: com.fashion.notification.dto.response.kafka.KafkaEvent

        # cho phép deserialize class custom
        spring.json.trusted.packages: "*"

    # config producer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

    # kafka group id
    group:
      permission: identity-permission-sync
      identity: identity-group
      product: product-group
      order: order-group
      inventory: inventory-group
      payment: payment-group
      shipping: shipping-group
      notification: notification-group
      resource: resource-group

    # kafka topic (<domain>.<entity>.<event-type>)
    topic:
      identity:
        permission-register: com.identity.permission_register
        user-created: com.identity.user.created # Gửi mail verify account khi tạo user
        user-created-success: com.identity.user.created.success # Gửi mail thông báo đăng ký thành công

  mail:
    host: smtp.gmail.com
    port: 587
    username: hoang2912002@gmail.com
    password: xvrclnxpzsaumkvr
    # protocol: smtp
    # default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
jwt:
  base64-secret: cjfj7FWvhyO66IPFwEtdlx2uQYVvBGL7NL6quv81W8v4cITO893aTdYld+FipAkHDZ4RxnaLN3bXkNskACbWFA==
  access-token-in-seconds: 86400
  refresh-token-in-seconds: 2592000
