server:
  port: 8083
  servlet:
    context-path: /inventory
service:
  identity:
    url: http://localhost:8080/identity
    name: identity-service
  product:
    url: http://localhost:8081/product
    name: product-service
  order:
    url: http://localhost:8082/order
    name: order-service
  inventory:
    url: http://localhost:8083/inventory
    name: inventory-service
  notification:
    url: http://localhost:8086/notification
    name: notification-service
  resource:
    url: http://localhost:8087/resource
    name: resource-service
spring:
  application:
    name: inventory-service
    language-default: en
  jpa:
    properties:
      hibernate:
        jdbc.batch_size: 50 # Gom 50 record rồi xử lý
        order_inserts: true # Sắp xếp để gom nhóm tốt hơn
        order_updates: true
        batch_versioned_data: true
    hibernate:
      ddl-auto: validate
    show-sql: true
  threads:
    virtual:
      enabled: true
  data:
    redis:
      host: 127.0.0.1
      port: 6319
      password: ""
      lettuce:
       pool: # Connection pool settings
         max-active: 10 # Maximum number of active connections in the pool (uses -1 for no limit)
         max-idle: 5 # Maximum number of idle connections in the pool
         min-idle: 5 # Minimum number of idle connections in the pool
#        max-wait: -1ms # Maximum wait time to get a connection from the pool (uses -1 for no limit)
      connect-timeout: 30000
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:5432/e_inventory_service
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  kafka:
    bootstrap-servers: localhost:9094
    # config consumer
    consumer:
      auto-offset-reset: earliest
      enable-auto-commit: false
      auto-commit-interval: 100
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer #key
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer #value

      # Dùng ErrorHandlingDeserializer để tránh chết Consumer nếu gặp tin nhắn lỗi định dạng
      # value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        # cho phép deserialize class custom
        spring.json.trusted.packages: "*"
    # config producer
    producer:
      retries: 0
      batch-size: 16384
      buffer-memory: 33554432
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
    listener:
      missing-topics-fatal: false
      ack-mode: manual_immediate
    group:
      permission: identity-permission-sync
      identity: identity-group
      product: product-group
      order: order-group
      inventory: inventory-group
      payment: payment-group
      shipping: shipping-group
      notification: notification-group
      resource: resource-group
    # kafka topic (<domain>.<entity>.<event-type>)
    topic:
      identity:
        # Lý do format permission-register ở consumer identity là chung cho nhiều service khác
        permission-register: com.identity.permission_register
        user-created: com.identity.user.created  # Gửi mail verify account khi tạo user
        user-created-success: com.identity.user.created.success # Gửi mail thông báo đăng ký thành công
      product:
        shop-management-created-success: com.product.shop.management.created.success
        approval-history-approved-product-success: com.identity.approval.history.approved.success # Phê duyệt sản phẩm thành công
      inventory:
        inventory-created-success: com.inventory.inventory.created.success
        inventory-creation-failed: com.inventory.inventory.creation.failed
      order:
        order-created-success-payment: com.order.order.created.success.payment
        order-created-success-shipping: com.order.order.created.success.shipping
        order-created-success-inventory: com.order.order.created.success.inventory
        order-created-success-promotion: com.order.order.created.success.promotion
        order-created-success-payment-failed: com.order.order.created.success.payment.failed
        order-created-success-shipping-failed: com.order.order.created.success.shipping.failed
        order-created-success-inventory-failed: com.order.order.created.success.inventory.failed
        order-created-success-promotion-failed: com.order.order.created.success.promotion.failed
jwt:
  base64-secret: cjfj7FWvhyO66IPFwEtdlx2uQYVvBGL7NL6quv81W8v4cITO893aTdYld+FipAkHDZ4RxnaLN3bXkNskACbWFA==
  access-token-in-seconds: 86400
  refresh-token-in-seconds: 2592000
role:
  admin: ADMIN
  seller: SELLER

app:
  cache:
    product:
      prefix: "fsh:prod" # Product
      lock: "lock:fsh:prod" # Product Lock
      keys:
        product-info: "proI" # Product Information
        shop-management-info: "shopI"
        promotion-info: "promI"
        approval-history-info: "apphI"
        category-info: "cateI"
        shop-management-entity-info: "shopEI" # Shop management entity
    inventory:
      prefix: "fsh:inv" # Inventory
      lock: "lock:fsh:inv"
      keys:
        inventory-info: "invI" # Inventory Information
        ware-house-info: "whI"
        inventory-transaction-info: "invTI" # Inventory Transaction Information
        inventory-info-order: "invIO" # Inventory Information with product Sku key