server:
  port: 8080
  servlet:
    context-path: /identity
spring:
  application:
    name: identity-service
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/e_identity_service
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  kafka:
    bootstrap-servers: localhost:9094
    # config consumer
    consumer:
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer #key
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer #value
      properties:
        spring.json.trusted.packages: "*"
    # config producer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    group:
      permission: identity-permission-sync
      identity: identity-group
      product: product-group
      order: order-group
      inventory: inventory-group
      payment: payment-group
      shipping: shipping-group
      notification: notification-group
      resource: resource-group

    # kafka topic (<domain>.<entity>.<event-type>)
    topic:
      identity:
        # Lý do format permission-register ở consumer identity là chung cho nhiều service khác
        permission-register: com.identity.permission_register

# logging:
#   level:
#     org.springframework.kafka: DEBUG
jwt:
  base64-secret: cjfj7FWvhyO66IPFwEtdlx2uQYVvBGL7NL6quv81W8v4cITO893aTdYld+FipAkHDZ4RxnaLN3bXkNskACbWFA==
  access-token-in-seconds: 86400
  refresh-token-in-seconds: 2592000

cookie-settings:
  path: /
  sameSite: None
  domain: localhost
admin:
  gmail: hoang2912002@gmail.com